@import '~@angular/material/theming';
@import './theme.global.scss';

$background: map-get($dark-theme, background);
$foreground: map-get($dark-theme, foreground);

:host {
    display: grid;
    overflow: auto;
    justify-items: center;

    background-color: mat-color($background, background);
    
    .container {
		margin: auto 0;
		padding: 0.5em;
	}
	
	.error {
		min-width: 500px;
		margin-bottom: 1em;		

		> div {
			@include mat-elevation(2);
			background-color: mat-color($background, card);
			color: mat-color($foreground, secondary-text);
			font-family: 'Roboto';
			white-space: pre-wrap;
			padding: 0.5em;
		}

		&:last-of-type{
            margin-bottom: 0;
        }
	}

    &::-webkit-scrollbar {
		width: 16px;
		height: 16px;
	}

	&::-webkit-scrollbar-track {
		background-color: mat-color($background, background, 0.5);
	}

	&::-webkit-scrollbar-thumb {
		background-color: mat-color($background, status-bar, 0.5);
	}

	&::-webkit-scrollbar-corner {
		background-color: mat-color($background, background, 0.5);
	}
}