/*!
 *  Roboto - https://github.com/google/roboto/
 *  License - Apache License 2.0
 */

 @font-face {
	font-family: 'Roboto';
	font-weight: 100;
	font-style: normal;

	src: url('../fonts/Roboto-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 100;
	font-style: italic;

	src: url('../fonts/Roboto-ThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 300;
	font-style: normal;

	src: url('../fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 300;
	font-style: italic;

	src: url('../fonts/Roboto-LightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 400;
	font-style: normal;

	src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 400;
	font-style: italic;

	src: url('../fonts/Roboto-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 500;
	font-style: normal;

	src: url('../fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 500;
	font-style: italic;

	src: url('../fonts/Roboto-MediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 700;
	font-style: normal;

	src: url('../fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 700;
	font-style: italic;

	src: url('../fonts/Roboto-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 900;
	font-style: normal;

	src: url('../fonts/Roboto-Black.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 900;
	font-style: italic;

	src: url('../fonts/Roboto-BlackItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/angular-material.woff2') format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}