@import '~@angular/material/theming';
@import './theme.global.scss';

$background: map-get($dark-theme, background);

body,
html {
    margin: 0;
    height: 100%;
    box-sizing: border-box;
}

.window-resize-border {
    border: solid mat-color($background, status-bar) 4px;
}

.fill-remaining-space {
    flex: 1 1 auto;
}