@import '~@angular/material/theming';
@import './theme.global.scss';

$background: map-get($dark-theme, background);
$foreground: map-get($dark-theme, foreground);

:host {
    display: grid;
    justify-items: center;
    overflow: auto;

    background-color: mat-color($background, background);

    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    form{
        display: grid;
        grid-template-areas: 
            'server server server server'
            'gyro-post accelerometer-post gyro-tresh accelerometer-tresh'
            'toolbar toolbar toolbar toolbar';
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 1em;

        padding: 0.5em;

        .UDP_server{
            grid-area: server;
        }

        .gyro-post{
            grid-area: gyro-post;
        }

        .accelerometer-post{
            grid-area: accelerometer-post;
        }

        .gyro-tresh{
            grid-area: gyro-tresh;
        }

        .accelerometer-tresh{
            grid-area: accelerometer-tresh;
        }

        .toolbar{
            padding: 0.5em 1em;
            grid-area: toolbar;

            display: flex;
            box-sizing: border-box;
          
            flex-direction: row;
            align-items: center;
            white-space: nowrap;

            color: mat-color($foreground, secondary-text);
        }

        > div{
            @include mat-elevation(2);
            background-color: mat-color($background, card);
            min-width: 80px;

            mat-toolbar {
                font-size: 0.9em;
            }

            > .container{
                padding: 1em;
                
                display: flex;
                flex-direction: column;

                > * {
                    width: 100%;
                }
            }
        }
    }

    > .container {
        margin: auto 0;
    }

    &::-webkit-scrollbar {
		width: 16px;
		height: 16px;
	}

	&::-webkit-scrollbar-track {
		background-color: mat-color($background, background, 0.5);
	}

	&::-webkit-scrollbar-thumb {
		background-color: mat-color($background, status-bar, 0.5);
	}

	&::-webkit-scrollbar-corner {
		background-color: mat-color($background, background, 0.5);
	}
}