@import '~@angular/material/theming';
@import './theme.global.scss';

$background: map-get($dark-theme, background);
$foreground: map-get($dark-theme, foreground);

$mat-row-height: 48px;
$mat-row-horizontal-padding: 12px;
$mat-row-gap: 12px;

:host {
    display: grid;
    overflow: auto;
    justify-items: center;

    background-color: mat-color($background, background);

    .mat-table {
        display: block;
    }
    
    .mat-row, .mat-header-row {
        display: grid;
        grid-auto-columns: minmax(100px, 1fr);
        grid-auto-flow: column;
        grid-gap: $mat-row-gap;
        user-select: none;
        cursor: default;

        border-bottom-width: 1px;
        border-bottom-style: solid;
        text-align: center;
        align-items: center;
        min-height: $mat-row-height;
        padding: 0 $mat-row-horizontal-padding;
    }

    .info-row {
        text-align: left;
        user-select: none;
        grid-auto-columns: initial;
        grid-auto-flow: initial;
        grid-template-columns: repeat(5, 1fr);
        justify-items: stretch;
        align-items: stretch;
        grid-template: 
            'general general lpad rpad buttons'
            'general general grip stick buttons'
            'dpad quaternion grip stick buttons'
            'dpad quaternion trigger touch buttons'
            'accelerometer gyro info info info';

        $groups: ('general', 'buttons', 'dpad', 'grip', 'touch', 'trigger', 'stick', 'lpad', 'rpad', 'accelerometer', 'gyro', 'quaternion', 'info');

        @each $group in $groups {
            .#{$group} {
                grid-area: unquote($group);
            }
        }

        box-sizing: border-box;
        padding: 0.5em $mat-row-horizontal-padding;
        color: mat-color($foreground, text);
        background-color: mat-color($background, app-bar);

        .group {
            display: grid;
            align-items: start;
            background-color: mat-color($background, background);

            .title {
                padding: 0.5em;
                background-color: mat-color($background, status-bar, 0.75);
            }

            .items {
                margin: auto 0;
                display: grid;
                padding: 0.5em;
                grid-template-columns: auto 1fr;
                color: mat-color($foreground, secondary-text);

                .data {
                    text-align: right;
                }
            }
        }
    }

    .mat-row {
        &:last-of-type{
            border-bottom: none;
        }
    }
    
    .mat-cell, .mat-header-cell {
        display: block;
        overflow: hidden;
        word-wrap: break-word;
    }

    .container {
        margin: auto 0;
    }

    &::-webkit-scrollbar {
		width: 16px;
		height: 16px;
	}

	&::-webkit-scrollbar-track {
		background-color: mat-color($background, background, 0.5);
	}

	&::-webkit-scrollbar-thumb {
		background-color: mat-color($background, status-bar, 0.5);
	}

	&::-webkit-scrollbar-corner {
		background-color: mat-color($background, background, 0.5);
	}
}