<mat-toolbar>
    General Settings
</mat-toolbar>
<div class="container" [formGroup]="form">
    <ng-container formGroupName="server">
        <mat-form-field>
            <mat-hint align="end">Requires restart</mat-hint>
            <input matInput type="text" placeholder="Server address" formControlName="address">
            <mat-error *ngIf="hasErrors('server.address')">{{getErrorMsg('server.address')}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-hint align="end">Requires restart</mat-hint>
            <input matInput type="number" placeholder="Server port" formControlName="port">
            <mat-error *ngIf="hasErrors('server.port')">{{getErrorMsg('server.port')}}</mat-error>
        </mat-form-field>
    </ng-container>
    <ng-container formGroupName="enabledFilters">
        <mat-checkbox formControlName="gyro">Enable gyro filters</mat-checkbox>
        <mat-checkbox formControlName="accelerometer">Enable accelerometer filters</mat-checkbox>
    </ng-container>
</div>